html, body, #root {
  height: 100%;
}

.GameRoot {
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: flex-start; /* top align on mobile */
  overscroll-behavior: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: none; /* prevent scroll */
}

.GameStage {
  position: relative;
}
